<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.cdt.launch.launchGroup">
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.0.action" value="WAIT_FOR_TERMINATION"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.0.enabled" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.0.mode" value="run"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.0.name" value="Install"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.1.action" value="DELAY"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.1.actionParam" value="30"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.1.enabled" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.1.mode" value="run"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.1.name" value="Wildfly - Start Wildfly"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.2.action" value="WAIT_FOR_TERMINATION"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.2.enabled" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.2.mode" value="run"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.2.name" value="Wildfly - Deploy Resource Adapter"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.3.action" value="WAIT_FOR_TERMINATION"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.3.enabled" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.3.mode" value="run"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.3.name" value="Wildfly - Activate Resource Adapter"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.4.action" value="WAIT_FOR_TERMINATION"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.4.enabled" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.4.mode" value="run"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.4.name" value="Wildfly - Deploy to Wildfly"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
</launchConfiguration>
